<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <title>CPN. Inscripción</title>
</head>
<body>

    <form method="POST">
        <div class="container">
            <div class="card m-3">
                <h2 class="card-title text-center">Club Patinaje Nájera. Temporada 2025-2026</h2>
                <h6 class="card-subtitle mb-2 text-body-secondary text-center">El plazo para formalizar la inscripción finaliza el <b>martes 30 de septiembre de 2025</b></h6>
                <div class="card-body">
                    {{formNuevo}}
                    <div class="p-2 mb-2 bg-black text-warning">Por tema de protección de datos, para facilitar el número de cuenta (en caso de cambio o por nueva inscripción) se deberá poner en contacto con el Club</div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary mt-3 w-25" type="submit">Grabar</button>
                    {% csrf_token %}
                </div>
            </div>
        </div>
    </form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>